<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <title>Bob's Burgers</title>
	
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
    <link type="text/css" rel="stylesheet" href="../../public/assets/css/styles.css">

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../../models/burger.js"></script>
	<script src="../../public/assets/js/burgers.js"></script>

</head>

<body>
	<div class="container">
		<img src="../../burgerimage.png" alt="">

	</div>

	<div class="container main">
		<div class="row">


			{{{ body }}}
		</div>

	</div>
	</div>
</body>
</body>

</html>